{% extends 'header.html' %}
{% load static %}

{% block scripts %}
<header class="header pt-30 pb-30  header-sticky header-static" style="padding-top: 30px; padding-bottom: 15px; top: 0px;">
{% endblock %}

{% block content %}
    <div class="shop-body mb-90">
        <div class="container-fluid">
            <nav aria-label="breadcrumb" class="mb-40">
                <ol class="breadcrumb p-0 m-0">
                    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shop</li>
                </ol>
            </nav>
            <div class="shop-wrapper">
                <div class="row">
                    
                    <div class="col-12">
                        <div class="filter-heading">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                                    <!-- <div class="filter-shown-item">
                                        <p class="mb-0">Showing <span>1</span>–<span>24</span> of <span
                                                class="total_count">56</span> results</p>
                                    </div> -->
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4 col-12">
                                    <div class="shop-filter-tab">
                                        <ul class="nav nav-pills">
                                            <li><span>Views</span></li>
                                            <li class="nav-item">
                                                <a  data-toggle="pill" href="#shop-tab-1"
                                                    data-toggle="tooltip" data-placement="top" title="2 grid"><i
                                                        class="fal fa-line-columns"></i></a>
                                            </li>
                                            <li class="nav-item">
                                                <a data-toggle="pill" href="#shop-tab-2" data-placement="top"
                                                    title="3 grid"><i class="fal fa-border-none"></i></a>
                                            </li>
                                            <li class="nav-item" >
                                                <a data-toggle="pill" href="#shop-tab-3" data-placement="top"
                                                    title="4 grid" class="active"><i class="fal fa-border-center-v"></i></a>
                                            </li>
                                            <li class="nav-item">
                                                <a data-toggle="pill" href="#shop-tab-4" data-placement="top"
                                                    title="list view"><i class="fal fa-list"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /. filter heading -->
                        <div class="filter-content">
                            <div class="tab-content">
                                <div class="tab-pane fade" id="shop-tab-1">
                                    <div class="product-wrapper mt-55">
                                        <div class="row">
                                            {% for i in Product %}
                                            <div class="col-6">
                                                <div class="product-box mb-40">
                                                    <div class="product-box-wrapper">
                                                        <div class="product-img">
                                                            <img src="/media/{{i.Image}}" class="w-100" alt="">
                                                            <a href="{% url 'product' i.id %}" class="d-block">
                                                                <div class="second-img">
                                                                    <img src="/media/{{i.Image}}" alt=""
                                                                        class="w-100">
                                                                </div>
                                                            </a>
                                                            <a href="{% url 'product' i.id %}"
                                                                class="product-img-link quick-view-1 text-capitalize">Quick
                                                                view</a>
                                                                {% if i.Sale %}<span class="sale bg-red text-white">sale!</span>{% endif %}
                                                        </div>

                                                        <div class="product-desc pb-20">
                                                            <div class="product-desc-top">
                                                                <div class="categories">
                                                                    <a href="{% url 'product' i.id %}"
                                                                        class="product-category"><span>{{i.Catagory}}</span></a>
                                                                </div>
                                                                <a href="{% url 'addcart' i.id %}" class="wishlist float-right"><span><i
                                                                            class="fal fa-heart"></i></span></a>
                                                            </div>
                                                            <a href="{% url 'product' i.id %}" class="product-title">{{i.Product_Name}}</a>
                                                            <div class="price-switcher">
                                                                <!-- <span class="price switcher-item">$58.00</span> -->
                                                                <a href="{{i.Youtube_Link}}"
                                                                    class="add-cart text-capitalize switcher-item">Click & Play</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <!-- <div class="text-center mt-20">
                                            <a href="portfolio3.html" class="load-more">LOAD MORE...</a>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="shop-tab-2">
                                    <div class="product-wrapper mt-55">
                                        <div class="row">
                                            {% for i in Product %}
                                            <div class="col-xl-4 col-md-4 col-6">
                                                <div class="product-box mb-40">
                                                    <div class="product-box-wrapper">
                                                        <div class="product-img">
                                                            <img src="/media/{{i.Image}}" class="w-100" alt="">
                                                            <a href="{% url 'product' i.id %}" class="d-block">
                                                                <div class="second-img">
                                                                    <img src="/media/{{i.Image}}" alt=""
                                                                        class="w-100">
                                                                </div>
                                                            </a>
                                                            <a href="{% url 'product' i.id %}"
                                                                class="product-img-link quick-view-1 text-capitalize">Quick
                                                                view</a>
                                                                {% if i.Sale %}<span class="sale bg-red text-white">sale!</span>{% endif %}
                                                        </div>

                                                        <div class="product-desc pb-20">
                                                            <div class="product-desc-top">
                                                                <div class="categories">
                                                                    <a href="{% url 'product' i.id %}"
                                                                        class="product-category"><span>{{i.Catagory}}</span></a>
                                                                </div>
                                                                <a href="{% url 'addcart' i.id %}" class="wishlist float-right"><span><i
                                                                            class="fal fa-heart"></i></span></a>
                                                            </div>
                                                            <a href="{% url 'product' i.id %}" class="product-title">{{i.Product_Name}}</a>
                                                            <div class="price-switcher">
                                                                <!-- <span class="price switcher-item">$58.00</span> -->
                                                                <a href="{{i.Youtube_Link}}"
                                                                    class="add-cart text-capitalize switcher-item">Click & Play</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <!-- <div class="text-center mt-20">
                                            <a href="portfolio3.html" class="load-more">LOAD MORE...</a>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="tab-pane fade  show active" id="shop-tab-3">
                                    <div class="product-wrapper mt-55">
                                        <div class="row">
                                            {% for i in Product %}
                                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                                                <div class="product-box mb-40">
                                                    <div class="product-box-wrapper">
                                                        <div class="product-img">
                                                            <img src="/media/{{i.Image}}" class="w-100" alt="">
                                                            <a href="{% url 'product' i.id %}" class="d-block">
                                                                <div class="second-img">
                                                                    <img src="/media/{{i.Image}}" alt=""
                                                                        class="w-100">
                                                                </div>
                                                            </a>
                                                            <a href="{% url 'product' i.id %}"
                                                                class="product-img-link quick-view-1 text-capitalize">Quick
                                                                view</a>
                                                                {% if i.Sale %}<span class="sale bg-red text-white">sale!</span>{% endif %}
                                                        </div>

                                                        <div class="product-desc pb-20">
                                                            <div class="product-desc-top">
                                                                <div class="categories">
                                                                    <a href="{% url 'product' i.id %}"
                                                                        class="product-category"><span>{{i.Catagory}}</span></a>
                                                                </div>
                                                                <a href="{% url 'addcart' i.id %}" class="wishlist float-right"><span><i
                                                                            class="fal fa-heart"></i></span></a>
                                                            </div>
                                                            <a href="{% url 'product' i.id %}" class="product-title">{{i.Product_Name}}</a>
                                                            <div class="price-switcher">
                                                                <!-- <span class="price switcher-item">$58.00</span> -->
                                                                <a href="{{i.Youtube_Link}}"
                                                                    class="add-cart text-capitalize switcher-item">Click & Play</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <!-- <div class="text-center mt-20">
                                            <a href="portfolio3.html" class="load-more">LOAD MORE...</a>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="shop-tab-4">
                                    <div class="product-wrapper mt-55">
                                        {% for i in Product %}
                                        <div class="product-box mb-40">
                                            <div class="product-box-wrapper">
                                                <div class="list-product mb-50">
                                                    <div class="list-product-wrapper">
                                                        <div class="row">
                                                            <div class="col-xl-4 col-lg-4 col-md-4">
                                                                <div class="list-product-img">
                                                                    <div class="product-img">
                                                                        <img src="/media/{{i.Image}}" class="w-100"
                                                                            alt="">
                                                                        <a href="{% url 'product' i.id %}" class="d-block">
                                                                            <div class="second-img">
                                                                                <img src="/media/{{i.Image}}"
                                                                                    alt="" class="w-100">
                                                                            </div>
                                                                        </a>
                                                                        <a href="{% url 'product' i.id %}"
                                                                            class="product-img-link quick-view-1 text-capitalize">Quick
                                                                            view</a>
                                                                            {% if i.Sale %}<span class="sale bg-red text-white">sale!</span>{% endif %}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-8 col-lg-8 col-md-8">
                                                                <div class="list-product-desc">
                                                                    <h3><a href="{% url 'product' i.id %}" class="title mb-15">{{i.Product_Name}}</a></h3>
                                                                    <div class="rating">
                                                                        <i class="fal fa-star active"></i>
                                                                        <i class="fal fa-star active"></i>
                                                                        <i class="fal fa-star active"></i>
                                                                        <i class="fal fa-star active"></i>
                                                                        <i class="fal fa-star"></i>
                                                                    </div>
                                                                    <!-- <div class="price"><span>$90.00</span></div> -->
                                                                    <div class="desc">
                                                                        <p>{{i.Sub_description|safe}}</p>
                                                                        <a href="{% url 'addcart' i.id %}"
                                                                            class="list-add-cart-btn text-capitalize mt-40">+add
                                                                            to cart</a>
                                                                        <!-- <a href="{% url 'addcart' i.id %}" data-toggle="tooltip"
                                                                            data-placement="top"
                                                                            title="wishlist"><span><i
                                                                                    class="fal fa-heart"></i></span></a>
                                                                        <a href="javascript:void(0)" data-toggle="tooltip"
                                                                            data-placement="top"
                                                                            title="compare"><span><i
                                                                                    class="fal fa-abacus"></i></span></a> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- /. list product -->
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!-- /. product box -->
                                        <!-- <div class="text-center mt-20">
                                            <a href="portfolio3.html" class="load-more">LOAD MORE...</a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /. filter content -->
                    </div>
                    <!-- /. shop products -->
                </div>
            </div>
        </div>
    </div>

    <!-- footer section start -->
    {% include 'footer.html' %}
    {% endblock %}