 {% load static %}
 <!-- footer section start -->
 <section class="footer">
    <div class="footer-top mt-120 pb-120 pt-115" style="background-color: #f5f5f5;">
        <div class="footer-top-wrapper">
            <div class="newsletter ">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <h2 class="title m-0">Sign Up For Our Newsletter</h2>
                        <p>Subscribe our newsletter and get discount 20% Off</p>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="newsletter-form">
                            <form method="POST" action="{% url 'email' %}">
                                {% csrf_token %}
                                <input type="text" name="digemail" placeholder="Enter Your Email...">
                                <button type="submit"
                                    class="generic-btn red-hover-btn text-uppercase float-right">Subscribe
                                    Now</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.newsletter -->
            <div class="service pt-57 mt-40 gray-border-top">
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-md-6 service-item">
                        <div class="service-box service-box-2">
                            <div class="service-box-content">
                                <h4 class="title">24/7 Equipment Availability</h4>
                                <p class="service-desc"> Ensuring Availability Whenever You Need It for Seamless Operations and Convenience.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6 service-item">
                        <div class="service-box service-box-2">
                            <div class="service-box-content">
                                <h4 class="title">Properly Maintain Equipment</h4>
                                <p class="service-desc">Ensuring Proper Care and Functionality for Optimal Performance and Longevity.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 col-lg-6 hidden-md service-item">
                        <div class="service-box service-box-2">
                            <div class="service-box-content">
                                <h4 class="title">Well Trained staff</h4>
                                <p class="service-desc">Expertly Trained Team Members Ready to Provide Exceptional Service and Support for Your Needs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. service -->
            <!-- /. footer bottom -->
        </div>

    </div>
    <!-- footer top -->

    <div class="footer-bottom pt-77" style="background-color: #292929;">
        <div class="container-1180">
            <div class="footer-bottom-wrapper">
                <div class="footer-bottom-primary pb-60">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-9">
                            <div class="footer-item has-desc">
                                <div class="footer-logo mb-25">
                                    <img src="{% static 'img/logo/logo2.png' %}" width="120" height="31" alt="">
                                </div>
                                <div class="footer-desc">
                                    <p class="mb-10">HS Media Unleash your creativity, seize the moment. Rent premium gear, capture memories, and craft magic. Your vision, our equipment, endless possibilities.
                                    </p>
                                </div>
                                
                                    <div class="share-product mt-65">
                                        <ul>
                                            <li></li>
                                            <li><a href="https://www.facebook.com/profile.php?id=100088567249094" data-toggle="tooltip" data-placement="top"
                                                    title="facebook"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="https://www.instagram.com/h_s_media_and_films/?next=/" data-toggle="tooltip" data-placement="top"
                                                    title="instagram"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="https://www.youtube.com/@HSMEDIAANDFILMSPVTLTD-ou4nd" data-toggle="tooltip" data-placement="top"
                                                    title="youtube"><i class="fab fa-youtube"></i></a></li>
                                            <!-- <li><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                                                    title="google +"><i class="fab fa-google-plus-g"></i></a></li>
                                            <li><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                                                    title="Linkdin"><i class="fab fa-linkedin-in"></i></a></li> -->
                                        </ul>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-12">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="footer-menu">
                                        <ul>
                                            <li><a href="javascript:void(0)" class="title">CUSTOMER SERVICE</a></li>
                                            <li><a href="{% url 'camerapage' %}">Cameras</a></li>
                                            <li><a href="{% url 'lensesgrid' %}">Lenses</a></li>
                                            <li><a href="{% url 'ringsandgrips' %}">Rings & Grips</a></li>
                                            <li><a href="{% url 'audio' %}">Audio</a></li>
                                            <li><a href="{% url 'lights' %}">Lights</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
                                    <div class="footer-menu">
                                        <ul>
                                            <li><a href="javascript:void(0)" class="title">Quick Links</a></li>
                                            <li><a href="{% url 'videoproduction' %}">Video Production</a></li>
                                            <li><a href="{% url 'livestream' %}">Live Stream</a></li>
                                            <li><a href="{% url 'questions' %}">FAQ</a></li>
                                            <li><a href="{% url 'about' %}">About Us</a></li>
                                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 hidden-sm">
                                    <div class="footer-menu">
                                        <ul>
                                            <li><a href="javascript:void(0)" class="title">Company Info</a></li>
                                            <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                                            <li><a href="{% url 'contact' %}">Get in Touch</a></li>
                                            <li><a href="{% url 'about' %}">Learn about Us</a></li>
                                            <li><a href="{% url 'questions' %}">Help Section</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- footer section end -->







<!-- product popup start -->
<section id="product-popup">
    <div class="product-popup-overlay"></div>
    <div class="product-popup-container">
        <div class="product-inner w-100">
            <div class="product-inner-content">
                <div class="quick-close-action"><i class="fal fa-times"></i></div>
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-6">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-popup-1">
                                <div class="product-popup-img">
                                    <img src="img/product/10.jpg" class="w-100" alt="">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product-popup-2">
                                <div class="product-popup-img">
                                    <img src="img/product/11.jpg" class="w-100" alt="">
                                </div>
                            </div>
                            <div class="tab-pane fade" id="product-popup-3">
                                <div class="product-popup-img">
                                    <img src="img/product/12.jpg" class="w-100" alt="">
                                </div>
                            </div>
                        </div>
                        <ul class="nav nav-pills justify-content-center mt-10">
                            <li class="nav-item">
                                <a class="active" data-toggle="pill" href="#product-popup-1">
                                    <img src="img/product/10.jpg" class="w-100" alt="">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="" data-toggle="pill" href="#product-popup-2">
                                    <img src="img/product/11.jpg" class="w-100" alt="">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="" data-toggle="pill" href="#product-popup-3">
                                    <img src="img/product/12.jpg" class="w-100" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-6">
                        <div class="product-content">
                            <div class="product-title">
                                <h2>Nari Narwhal Usb...</h2>
                            </div>
                            <div class="price">$<span>44.00</span>–<span>$250.00</span></div>
                            <a href="single-product-4.html" class="all-feature">See all feature</a>
                            <div class="quick-quantity mt-30">
                                <form action="#" method="POST">
                                    <input type="number" value="1">
                                    <button type="submit" class="generic-btn red-hover-btn text-capitalize">add to
                                        cart</button>
                                </form>
                            </div>

                            <div class="product-desc pb-20 mt-25 gray-border-top">
                                <p class="mb-0">Typi non habent claritatem insitam, est usus legentis in iis qui
                                    facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius
                                    quod ii legunt saepius. Claritas est etiam processus A Capitalize on low hanging
                                    fruit to identify a ballpark value added activity to beta test. Override the
                                    digital...ditional clickthroughs from DevOps. Nanotechnology immersion along the
                                    information highway will close the […]</p>
                            </div>
                            <div class="product-list mt-25">
                                <ul>
                                    <li>– Light green crewneck sweatshirt.</li>
                                    <li>– Hand pockets.</li>
                                    <li>– Relaxed fit.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product popup end -->

<!-- startup popup start -->
<section id="startup-popup" class="d-none">
    <div class="product-popup-overlay has-startup" style="opacity: 1;visibility: visible"></div>
    <div class="startup-popup-body">
        <div class="startup-body-content h-100">
            <div class="row justify-content-end h-100">
                <div class="col-6 h-100">
                    <div class="startup-popup-inner h-100">
                        <div class="close-search-popup">
                            <i class="fal fa-times"></i>
                        </div>
                        <div class="startup-popup-main-content">
                            <h2>Get Our Email Letter</h2>
                            <p class="mb-0">Subscribe to the Mazia store mailing list to receive updates on new
                                arrivals, special offers
                                and other discount information.</p>
                            <div class="startup-subscribe-form">
                                <form action="#" method="POST">
                                    <input type="text" placeholder="Subscribe to our newsletter" class="mb-30">
                                    <button class="generic-btn red-hover-btn text-uppercase">Subscribe now</button>
                                </form>
                            </div>
                        </div>
                        <div class="startup-popup-sub-content">
                            <div class="popup-warning">
                                <input type="checkbox" id="startup-popup-hidden">
                                <label for="startup-popup-hidden">Do not show the popup again</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- startup popup end -->

<!-- JS here -->
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/one-page-nav-min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
<script src="{% static 'js/ajax-form.js' %}"></script>
<script src="{% static 'js/fontawesome.min.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>